.slider {
   
    &__content {
        width: 95%;
        max-width: 1440px;
        margin: 0 auto;
       
    }

    &__slick-list {
        @include flex-dir(row, $ai:start);
        margin: 130px 0px;
    }

   

    &__main {
        max-width: 920px;
        width: 100%;
    }

    &__slide.slick-slide {
        display: flex;
        gap: 45px;
        padding: 70px;
        align-items: center;
        border: 10px solid #F5F8F9;
        
    }

    &__logo {
        margin: 40px 0 0 15%;
        opacity: 0.5;
    }

    &__name {
        font-weight: 600;
        font-size: px-to-em(24);
        line-height: 120%;
        color: #32363C;
    }

    &__position {
        font-size: px-to-em(15);
        line-height: 140%;
        color: #989A9D;
    }

    &__text {
        font-size: 17px;
        line-height: 140%;
        color: #32363C;
        margin-top: 25px;
    }

    &__arrow {
        padding: 30px;
        background: #F5F8F9;
        cursor: pointer;
        &--next {
            transform: rotate(180deg);
        }
    }

    @media screen and (max-width: 1200px) {
        &__slide.slick-slide {
            padding: 20px;
        }

        &__slick-list {
            margin: 130px 50px;
        }

        &__arrow {
            padding: 10px;
        }
    }

    @media screen and (max-width: 991px) {
        &__slick-list {
            padding-top: 50px;
            margin-bottom: 30px;
        }

        &__slide.slick-slide {
            flex-direction: column;
        }

        &__text {
            font-size: 16px;
        }

    }

    @media screen and (max-width: 768px) {
        &__slide.slick-slide {
            padding: 10px;
            border: none;
        }

        &__slick-list {
            padding-top: 0;
            flex-direction: column;
        }

        &__arrow {
            background: none;
            order: -1;
            &--next {
                align-self: flex-end;
            }
            &--prev {
                transform: translateY(60px);
            }
        }

    }

    @media screen and (max-width: 360px) {
        &__slick-list {
            margin-top: 50px;
        }

        &__arrow {
            width: 20%;
            &--prev {
                transform: translate(450%, 280%);
                z-index: 1;
            }
            &--next {
                transform: translate(50%, 70%) rotate(180deg);
            }
        }

        &__image {
            width: 50%;
        }

        &__logo {
            max-width: 35%;
            margin: 0 0 0 10px;
        }

        &__images {
            display: flex;
            align-items: center;
        }

        &__slide.slick-slide {
            align-items: start;
            text-align: left;
        }
    }

    
   

    

   

   

   

    

    

   
    

   

    

   

    

}
