mixin testcoffee(modifier)
  section.testcoffee&attributes(attributes)
    .testcoffee__content
      .testcoffeee__info
        h1.testcoffee__title Закупайте кофе оптом с&nbsp;доставкой по всей России
        .testcoffee__links
          a(href='#').testcoffee__link Сначала попробуйте
          a(href='#').testcoffee__link Потом покупайте
        p.testcoffee__text Отправим бесплатный пробник кофе — на выбор более 30 сортов свежей обжарки для фильтра и эспрессо.
      img(src='img/testcoffee.jpg' alt="Дегустация кофе").testcoffee__image