mixin worker(modifier)
  section.worker&attributes(attributes)
    .worker__content 
      .worker__info
        h2.worker__title Наши профессионалы сделают&nbsp;всё на высшем уровне
        button(type="button").worker__button История ПКМ
      .worker__main 
        .worker__block
          img(src="img/worker1.png" alt="Менеджер по поставкам").worker__image
          .worker__name Олег Булгаков
          .worker__text Менеджер по работе с оптовыми клиентами
        .worker__block 
          img(src="img/worker2.png" alt="Представитель компании").worker__image
          .worker__name Оксана Павловна
          .worker__text Представитель компании в Сочи
        .worker__block 
          img(src="img/worker3.png" alt="Бариста").worker__image
          .worker__name Виталий Гончаренко
          .worker__text Бариста 
