
include ../blocks/header/header.pug
include ../blocks/testcoffee/testcoffee.pug
include ../blocks/form/form.pug
include ../blocks/figure/figure.pug
include ../blocks/fire/fire.pug
include ../blocks/list/list.pug
include ../blocks/main/main.pug
include ../blocks/leave/leave.pug
include ../blocks/quality/quality.pug
include ../blocks/example/example.pug
include ../blocks/slider/slider.pug
include ../blocks/worker/worker.pug
include ../blocks/more/more.pug
include ../blocks/price/price.pug
include ../blocks/footer/footer.pug
include ../blocks/part/part.pug
include ../blocks/popup/popup.pug

