mixin price(modifier)
  section.price&attributes(attributes)
    .price__content 
      h2.price__title-one Доступная цена на&nbsp;кофе свежей обжарки
      p.price__text Кофе собирается на плантациях и проходит через множество 
        |  этапов прежде чем попасть в вашу кофемашину. 
        | Наш контроль качества зерна начинается с момента сбора 
        | урожая и заканчивается приготовлением первой чашки кофе для каждой партии.
      .price__box
        .price__main 
          h3.price__title от 10 кг.
          p.price__info Минимальная партия оптового заказа
        .price__main
          h3.price__title от 480 ₽
          p.price__info Стоимость за 1 кг. кофе свежей обжарки 