mixin figure(modifier)
  section.figure&attributes(attributes)
    .figure__content
      .figure__sticker
        img(src="img/sticker1.png" alt="Стикер кофе 1").figure__picture
        p.figure__text Закупаем кофе с плантаций без&nbsp;посредников
      .figure__sticker
        img(src="img/sticker2.png" alt="Стикер кофе 2").figure__picture
        p.figure__text Обжариваем зерна на&nbsp;собственном&nbsp;производстве
      .figure__sticker
        img(src="img/sticker3.png" alt="Стикер кофе 3").figure__picture
        p.figure__text Предлагаем доступные цены за&nbsp;премиум качество



