mixin main(modifier)
  section.main&attributes(attributes)
    .main__content 
      .main__info 
        h2.main__title Работаем быстро —&nbsp;ценим&nbsp;ваше время
        p.main__text Моментально обрабатываем заявки поступающие с сайта, высылаем оптовый прайс и помогаем определиться с сортом кофе.
        p.main__text Запускаем вашу партию в производство в течении суток после заказа.
        p.main__text По готовности сразу передаем в отдел доставки и присылаем вам трек-номер для отслеживания.
      img(src="img/man.png" alt="Директор доставки").main__image