mixin more(modifier)
  section.more&attributes(attributes)
    .more__content
      form.more__form
        h2.more__title Подписывайтесь на&nbsp;новости&nbsp;и акции
        input(type="email" placeholder="Введите ваш email").more__input
        button.more__button Подписаться