mixin fire(modifier)
  section.fire&attributes(attributes)
    .fire__content
      .fire__info 
        h2.fire__title Обжариваем и доставляем свежий кофе с 2013 года
        p.fire__text За много лет приобрели опыт, стали экспертами производства обжарки кофе и при этом остались людьми, всё это помогает нам производить совершенный кофе для всех наших клиентов.
        p.fire__text Мы проводим контрольные капинги и заключаем контракты на поставки отборного зерна каждый новый урожай.
        p.fire__text Имеем собственное технологичное производство
          | в Санкт-Петербурге, производственная мощность которого
          | 5 000 кг. в сутки.
      img(src="img/pr.svg" alt="Большая пачка кофе").fire__image
      img(src="img/pis.svg").fire__picture