mixin example(modifier)
  section.example&attributes(attributes)
    .example__content 
      .example__info 
        h2.example__titleone На выбор более 30 сортов кофе
        p.example__textone Предлагаем ТОП ассортимент: смеси, моносорта и микролоты 
          |  из Бразилии, Колумбии, Гватемалы, Мексики, Коста-Рики, 
          | Гондураса, Эфиопии, Вьетнама, Перу и Сальвадора
      .example__box
        .example__main.example__main--open
          img(src="img/testbag.png" alt="Пробник кофе 1").example__image
          h3.example__title Бразилия Суль Де Минас
          p.example__text С нотами арахиса, какао и цедры лимона. По мере остывания напитка добавляются ягодные оттенки.
          span.example__price от 480 ₽ / кг.
        .example__main 
          img(src="img/testbag.png" alt="Пробник кофе 2").example__image
          h3.example__title Колумбия Эксельсо
          p.example__text С нотами какао, цветов и меда. Легкая кислинка фруктового вина.
          span.example__price от 480 ₽ / кг.
        .example__main
          img(src="img/testbag.png" alt="Пробник кофе 3").example__image
          h3.example__title Бон-а-бон
          p.example__text С нотами арахиса, горького шоколада и легкой кислинкой фруктовых вин.
          span.example__price от 480 ₽ / кг.


