extends ../templates/template.pug
block content
    +header
    +testcoffee
    +form('Получите пробник кофе - совершенно бесплатно!','coffeebag')
    +figure
    +fire
    +list
    +main
    +leave
    +quality
    +example
    +form('Получите оптовый прайс на весь ассортимент.','cup')
    +slider
    +worker
    +more
    +price
    +form('Делаем кофе, который пьем сами!','bigcup')
    +footer
    +popup

    