mixin leave(modifier)
  section.leave&attributes(attributes)
    .leave__content 
      .leave__info 
        h2.leave__title Оперативная и отлаженная доставка свежего кофе
        p.leave__text Доставляем свежеобжаренный кофе с нашего производства
          | в любую точку России в среднем за 5 дней после заказа. 
        p.leave__text Логистика по всей России отлажена до мелочей. Мы поможем 
          | с выбором транспортной компании, которая доставляет в ваш город.
        p.leave__text Для клиентов из Санкт-Петербурга доставляем кофе на 
          | автомобилях компании на следующий день после заказа.
        a(href='#!').leave__get
          img(src="img/getimage.png" alt="Стикер доставки").leave__getimage
          span.leave__gettext Узнать о доставке в мой город
      .leave__box
        a(href='#').leave__link
          img(src="img/leave1.png" alt="Транспортная компания 1").leave__image
        a(href='#').leave__link
          img(src="img/leave2.png" alt="Транспортная компания 2").leave__image
        a(href='#').leave__link
          img(src="img/leave3.png" alt="Транспортная компания 3").leave__image
        a(href='#').leave__link
          img(src="img/leave4.png" alt="Транспортная компания 4").leave__image
        a(href='#').leave__link
          img(src="img/leave5.png" alt="Транспортная компания 5").leave__image
        a(href='#').leave__link
          img(src="img/leave6.png" alt="Транспортная компания 6").leave__image
        
        