mixin list(modifier)
  section.list&attributes(attributes)
    .list__content 
      .list__info
        span.list__number 01.
        p.list__text Закупаем и привозим свежие зерна кофе со&nbsp;всего мира
      .list__info  
        span.list__number 02.
        p.list__text Обжариваем на&nbsp;технологичных ростерах Typhoon
      .list__info  
        span.list__number 03.
        p.list__text Затем осуществляется контроль качества и&nbsp;каппинг каждой партии
      .list__info  
        span.list__number 04.
        p.list__text Далее отправляем свежеобжаренный кофе на&nbsp;фасовку и упаковку
      .list__info  
        span.list__number 05.
        p.list__text После чего готовый продукт передается в&nbsp;отдел доставки
      .list__info  
        span.list__number 06.
        p.list__text Вы получаете поставку свежего кофе во время и&nbsp;без задержек
